.twitter{
    font-family: Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-weight: bold;
}

.home{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-weight: bold; 
}

.mat-toolbar.mat-primary {
    background: #1da1f2;
    color: #fff;
  }


  