<h1 class="login-page">Login Page</h1>
<h3 class="returning-user">Returning User</h3>
<form action="/tutorial/action.html">
  <div class="container">
    <label style="color: #1da1f2" for="fullname">Username</label><br />
    <input type="text" id="username" name="username" /><br />
    <label style="color: #1da1f2" for="password">Password</label><br />
    <input type="password" id="password" name="password" /><br />
    <input type="submit" value="Login" routerLink="/" />
  </div>

  <h3 class="new-user">New User</h3>
  <div class="container">
    <label style="color: #1da1f2" for="fullname">Username</label><br />
    <input type="text" id="username" name="username" /><br />
    <label style="color: #1da1f2" for="password">Password</label><br />
    <input type="password" id="password" name="password" /><br />
    <input type="submit" value="Submit" routerLink="/" />
  </div>
</form>
